:root {
    --marquee-width: 60vw;
    --marquee-height: 15vh;
    --marquee-elms-displayed: 5;
    --marquee-elms: 10; 
    --marquee-elm-width: calc(var(--marquee-width) / var(--marquee-elms-displayed));
    --marquee-duration-animation : calc(var(--marquee-elms) * 3s);
    --bg: white; 
 }

a {
    text-decoration: none;
    color: black;
}

ul { 
    text-decoration: none;
    list-style: none;
    padding: 0;
}

