@media  screen and (max-width: 780px) {
    body { max-width: 780px; }

    .codeBay { margin: 20px }


    .skills h3 { font-size: 20px; }

    .socialIcons {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .profile-section { margin: 25px auto; }
    
    .profilePic {
        width: 155px;
        height: 155px;
    }

    .buttonsWrapper {
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        width: inherit;
    }

    .bottomButtons {
        font-size: 22px;
        width: 200px;
    }

    .marquee {
        width: 100%;
        height: fit-content;
        margin: 15px auto 20px auto;
    }

    .marquee-content li {
        width: 30%;
        font-size: 70px;
    }

    .marquee::before, 
    .marquee::after {
        display: none;
    }


}