@media  screen and (max-width: 780px) {
    body {
        max-width: 780px;
    }

    .skills h3 {
        font-size: 16px;
    }

    .socialIcons {
        flex-wrap: wrap;
        padding: 0;
    }
    
    .profilePic {
        width: 155px;
        height: 155px;
    }

    .buttonsWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    