@media  screen and (max-width: 780px) {
    body {
        max-width: 780px;
    }

    .codeBay {
        margin: 20px;
    }


    .skills h3 {
        font-size: 16px;
    }

    .socialIcons {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .profile-section {
        margin: 25px auto;
    }
    
    .profilePic {
        width: 155px;
        height: 155px;
    }

    .buttonsWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .bottomButtons {
        font-size: 12px;
        width: 125px;
        padding: 5px auto;
    }

    .marquee {
        width: 100%;
    }

    .marquee-content li {
        width: 30%;
    }


}