body {
    background-color: black ;
    max-width: 1200px;
    height: 100%;
    overflow-x: hidden;
    font-family: copperplate;
    line-height: 0.6;
    color: white;
    margin: auto;
    font-weight: 400;
}

*, *::before, *::after { box-sizing: border-box;}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px ;
    gap: 10px;
    align-items: center;
}

.chat { 
    border: 2px solid white;
    border-radius: 12px;
    background: #098842;
    padding: 3px 8px;

}
        
.home {margin-left: auto;}

a {
    text-decoration: none;
    color: inherit;
}

.pageWrapper {
    background-color: black;
    width: 95%;
    height: fit-content;
    margin: auto;
    border: 2px solid black;
    border: 10px;
    text-align: center;
    animation-duration: 3s;
}

.name { font-size: 23px; }

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 50px auto 20px;
}

.profilePic {
    background-color: white;
    width: 225px;
    height: 225px;
    border: 3px solid rgb(239, 230, 230);
    border-radius: 180px;
    margin: auto;
    animation-duration: 3s;
   
}

.skills { margin: auto; }

.skills h3 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.socialIcons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px 150px;
    animation-duration: 4s;
}

.social-icon-header > h4 {
    font-size: 18px;
    opacity: 0;
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 28px;
    color: azure;
    margin: auto;
}

.social-icon-header > h4:hover {
    opacity: 1;
}

.box {margin: auto;}

.buttonsWrapper {
    margin: 30px auto;
    gap: 10px;
    display: flex;
    flex-direction: row;    
    width: 70%;
}

.bottomButtons {
    border: 2px solid white;
    border-radius: 8px;
    width: 145px;
    height: fit-content;
    margin: auto;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    box-shadow: rgba(250, 250, 250, 0.941) 0px 3px 3px 3px;
}

.bottomButtons:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.buttonModals {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    visibility: hidden;
    cursor: pointer;
 }