:root {
    --marquee-width: 100%;
    --marquee-height: 15vh;
    --marquee-elms-displayed: 5;
    --marquee-elm-width: calc(var(--marquee-width) / var(--marquee-elms-displayed));
    --marquee-duration-animation : calc(var(--marquee-elms) * 3s);
    --bg: white; 
 }

body {
    background-color: black ;
    max-width: 1200px;
    height: 100%;
    overflow-x: hidden;
    font-family: copperplate;
    line-height: 0.6;
    color: white;
    margin: auto;
    font-weight: 400;
}

*, *::before, *::after { box-sizing: border-box;}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px ;
    gap: 10px;
    align-items: center;
    font-size: 30px;
}

.codeBay { 
    font-style: italic;
    font-size: 18px;
    margin: 15px auto;
 }

 .hero-content {
    text-align: center;
 }

 .code-icon {
    background-color: #da5252;
    padding: 1.25rem 1.5rem;
    border-radius: 50rem;
    display: inline-block;
    margin: 2.5rem;
    text-align: center;
    color: (var(--color-text));
 }
 
 .code-icon .fa-code {
    font-size: 2rem;
    display: inline-block;
    line-height: 1.5;
 }

 .header-lg {
    font-size: 4rem;
    letter-spacing: -2.5px;
    line-height: 1.05;
}

.sub-header {
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1.25rem;
    padding-bottom: 1.875rem;
}
 

.name { font-size: 16px; }
.by { font-size: 12px ;}

.chat { 
    border: 2px solid white;
    border-radius: 50px;
    background: #096fff;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    width: fit-content;
    margin: 25px auto;
}
        
.home { margin-left: auto; }

a {
    text-decoration: none;
    color: inherit;
}

.pageWrapper {
    width: 95%;
    height: fit-content;
    margin: auto;
    border: 2px solid black;
    border: 10px;
    text-align: center;
    animation-duration: 3s;
}


.profile-section { margin: 10px auto; }

.profilePic {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(239, 230, 230);
    border-radius: 180px;
    margin: auto;
    animation-duration: 3s;
}

.skills { margin: auto; }

.skills h3 {
    text-align: center;
    color: white;
    font-size: 16px;
}

.socialIcons {
    width: 35%;
    margin: 1.60rem auto;
    display: flex;
    flex-direction: row;
    animation-duration: 4s;
    justify-content: center;
}

.social-icon-header > h4 {
    font-size: 18px;
    opacity: 0;
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 28px;
    color: azure;
    margin: auto;
}

.social-icon-header > h4:hover {
    opacity: 1;
}

.box {
    width: 110px;
    margin: auto;
}

.buttonsWrapper {
    margin: 35px auto;
    display: flex;
    flex-direction: row;    
    width: 60%;
}

.bottomButtons {
    border: 2px solid white;
    border-radius: 8px;
    width: 110px;
    height: fit-content;
    margin: auto;
    font-size: 13px;
    text-align: center;
    padding: 8px 0;
    box-shadow: rgba(250, 250, 250, 0.941) 0px 3px 3px 3px;
}

.bottomButtons:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.buttonModals {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
    visibility: hidden;
    cursor: pointer;
 }

 .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    overflow: hidden;
    margin: .65rem auto;
    position: relative;
 }
 
 .marquee-content {
    list-style: none;
    display: flex;
    height: 100%;
    animation: scrolling var(--marquee-duration-animation) linear infinite;
 }
 
 .marquee-content li {
    width: var(--marquee-elm-width);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: calc(var(--marquee-height) * 3 / 4);
 }
 
 .marquee::before,
 .marquee::after {
    position: absolute;
    height: 100%;
    width: 4rem;
    top: 0;
    content: "";
    z-index: 1;
 }
 
 .marquee:before {
    left: 0;
    background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
 }
 
 .marquee:after {
    right: 0;
    background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
 }
 
 @keyframes scrolling {
    10% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-elm-width) * var(--marquee-elms))); }
 }