:root {
   --bg: #171a23;
   --bg-panel: #fff;
   --color-headings: #f2f3f4;
   --color-text-opacity: rgba(22,28,45,0.7);
   --color-text: #f2f3f7;
   --color-text-base: #f0f2f9;
   --border: #383f53;
   --dev-icons: #495fef;
}

/* Shapes Background at top of page */
.custom-shape-divider-top-1675182074 {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   /* z-index: 1 ; */
}

.custom-shape-divider-top-1675182074 svg {
   position: fixed;
   display: block;
   width: calc(201% + 1.3px);
   height: 300px;
}

.custom-shape-divider-top-1675182074 .shape-fill {
   fill: #495fef;
}

@media screen and (max-width: 430px) {
   .custom-shape-divider-top-1675182074 svg {
      /* z-index: 2; */
      height: 420px;
   }

}