@media  screen and (max-width: 780px) {
    body {
        max-width: 780px;
    }

    .socialIcons {
        flex-wrap: wrap;
        padding: 0;
    }
    
    .profilePic {
        max-width: 600px;
    }

    .buttonsWrapper {
        flex-direction: column;
    }
}  