body {
    background-color: black ;
    max-width: 1200px;
    height: 100%;
    overflow-x: hidden;
    font-family: copperplate;
    line-height: 0.6;
}

a {
    text-decoration: none;
    color: white;
}

.pageWrapper {
    background-color: black;
    width: 95%;
    height: fit-content;
    margin: auto;
    border: 2px solid black;
    text-align: center;
}

.profilePic {
    background-color: white;
    width: 270px;
    height: 270px;
    border: 1px solid black;
    border-radius: 180px;
    margin: auto;
    margin-top: 20px;
}

.name h2 {
    margin-top: 40px;
    font-size: 45px;
    color: white;
}

.skills {
    margin: auto;   
}

.skills h3 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.grid {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    padding: 0px 150px;
}

.box {
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    margin: auto;
}

.botButwrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.bottomButtons {
    border: 2px solid white;
    border-radius: 5px;
    width: 250px;
    height: fit-content;
    margin: auto;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    
}

.bottomButtons:hover {
    background-color: whitesmoke;
    color: black;
}